<div class="table-wrapper">

    <div class="header">
        Total Icons: {{rows.length}}
        <div class="disclaimer">
            Note: The mapping shown below doesn't show the exact colors. The purpose here is to identify the shape of
            the icon based on selectors for easy identification. For more color information for the icon visit
            <a href="https://i.icomoon.io/public/13394cc478/EngageTellwise/style.css" target="_blank">https://i.icomoon.io/public/13394cc478/EngageTellwise/style.css</a>
        </div>
    </div>

    <ngx-datatable class="ngx-datatable material fixed-header virtualized"
                   [rows]="rows"
                   [columns]="columns">
    </ngx-datatable >
</div>
