@import 'node_modules/@swimlane/ngx-datatable/index.scss';
@import 'node_modules/@swimlane/ngx-datatable/themes/material.scss';
@import 'node_modules/@swimlane/ngx-datatable/themes/bootstrap.scss';

.table-wrapper {
  display: flex;
  flex-direction: column;

  .header {
    margin-bottom: 20px;
  }
}

i {
  font-size: 24px;
}

.datatable-body .datatable-body-row .datatable-body-cell {
  padding: 0 1.2rem !important;
  display: flex;
  align-items: center;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  padding: 0.4rem 1.2rem !important;
}



